<div class="posts-ls">
    <% var books = site.data.books || {};site.posts.each(function (post) { %>
        <% if (post.pin && page.prev==0) { %>
            <div class="post">
                <h2 class="post-title">
                    <a class="post-title-link" href="<%- url_for(post.path) %>">
                        <%= post.title %>
                    </a>
                    <svg class="top-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        viewBox="0 0 1024 1024">
                        <path
                            d="M896 96H128c-17.066667 0-32 14.933333-32 32S110.933333 160 128 160h768c17.066667 0 32-14.933333 32-32s-14.933333-32-32-32zM535.466667 296.533333c-12.8-12.8-32-12.8-44.8 0l-213.333334 213.333334c-12.8 12.8-12.8 32 0 44.8s32 12.8 44.8 0l157.866667-157.866667V853.333333c0 17.066667 14.933333 32 32 32s32-14.933333 32-32V396.8l157.866667 157.866667c6.4 6.4 14.933333 8.533333 23.466666 8.533333s17.066667-2.133333 23.466667-8.533333c12.8-12.8 12.8-32 0-44.8l-213.333333-213.333334z">
                        </path>
                    </svg>
                </h2>
                <div class="post-content">
                    <%- post.excerpt || post.description || truncate(strip_html(post.content), {length: 200}) ||
                        post.content || '' %>
                         <% if(post.headimg) { %>
                                        <img class="headimg" alt="<%= post.title %>" src="<%= post.headimg %>">
                                         <% } %>
                </div>
                                                <div class="post-meta">
                                    创作于 <%=date(post.data)%><%if (post.categories.length>0){%> | <% for(var category of post.categories.toArray()) { %>
                                        <a class="category" href="<%= url_for(category.path) %>"><%= (books[category.name])?`《${category.name}》` : category.name %></a> 
                                    <% } %> 
                                    <% } %> 
                                </div>
            </div>
            <% } %>
                <% }) %>
                    <% var books = site.data.books || {};page.posts.each(function (post) { %>
                        <% if (!post.pin) { %>
                            <div class="post">
                                <h2 class="post-title">
                                    <a class="post-title-link" href="<%- url_for(post.path) %>">
                                        <%= post.title %>
                                    </a>
                                </h2>
                                <div class="post-content">
                                    <%- post.excerpt || post.description || truncate(strip_html(post.content), {length:
                                        200}) || post.content || '' %>
                                        <% if(post.headimg) { %>
                                        <img class="headimg" alt="<%= post.title %>" src="<%= post.headimg %>">
                                         <% } %>
                                </div>
                                <div class="post-meta">
                                    创作于 <%=date(post.data)%><%if (post.categories.length>0){%> | <% for(var category of post.categories.toArray()) { %>
                                        <a class="category" href="<%= url_for(category.path) %>"><%= (books[category.name])?`《${category.name}》` : category.name %></a> 
                                    <% } %> 
                                    <% } %> 
                                </div>
                            </div>
                            <% } %>
                                <% }) %>
                                    <% if (page.total> 1) { %>
                                        <div class="btns">
                                            <a class="btn" style="opacity:<%= (page.prev> 0)?" 1":"0" %>" href="/<%=
                                                    page.prev_link %>">&lt;</a>
                                            <div class="btn">
                                                <%= page.current %>
                                            </div>
                                            <a class="btn" style="opacity:<%= (page.next> 0)?" 1":"0" %>" href="/<%=
                                                    page.next_link %>">&gt;</a>
                                        </div>
                                        <% } %>
</div>